{
  "plugins":[
    "@babel/plugin-syntax-jsx",
    ["@babel/plugin-transform-react-jsx",
      {
        "pragma": "Juan.createElement",
        "pragmaFrag": "Juan.Fragment",
        "useBuiltIns": false,
        "throwIfNamespace": true
      }
    ]
  ]
}
